<ion-header class="custom-header">

  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-between">

        <!-- Logo -->
        <ion-col size="6" size-md="2" class="ion-text-start">
          <a [routerLink]="['/home']">
            <img src="assets/logo.png" alt="AutoCare Market" height="40" />
          </a>
        </ion-col>

        <!-- Botones en modo móvil -->
        <ion-col size="6" size-md="2" class="ion-text-end ion-hide-md-up">
          <ion-buttons>
            <ion-button fill="clear" routerLink="/carrito">
              <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
            </ion-button>

            <ng-container *ngIf="usuario; else loginMobile">
              <ion-button fill="clear">
                <ion-icon name="person-circle-outline" slot="start"></ion-icon>
              </ion-button>
              <ion-button fill="clear" (click)="logout()">
                Salir
              </ion-button>
            </ng-container>

            <ng-template #loginMobile>
              <ion-button fill="clear" routerLink="/login">Iniciar Sesión</ion-button>
            </ng-template>

            <ion-menu-button autoHide="false"></ion-menu-button>
          </ion-buttons>
        </ion-col>

        <!-- Barra de búsqueda -->
        <ion-col size="12" size-md="4" class="ion-hide-sm-down">
          <ion-searchbar placeholder="Buscar" show-clear-button="focus"></ion-searchbar>
        </ion-col>
  
        <!-- Menú -->
        <ion-col size="12" size-md="4" class="ion-text-center ion-hide-sm-down">
          <ion-buttons>
            <ion-button fill="clear" routerLink="/home">Inicio</ion-button>
            <ion-button fill="clear">Productos</ion-button>
            <ion-button fill="clear">Categorías</ion-button>
            <ion-button fill="clear" routerLink="/about">Sobre Nosotros</ion-button>
          </ion-buttons>
        </ion-col>
  
        <!-- Carrito y login / perfil -->
        <ion-col size="12" size-md="2" class="ion-text-end ion-hide-sm-down">
          <ion-buttons>
            <ion-button fill="clear" routerLink="/cart">
              <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
            </ion-button>

            <ng-container *ngIf="usuario; else loginBtn">
              <ion-button fill="clear">
                <ion-icon name="person-circle-outline" slot="start"></ion-icon>
                {{ usuario.username }}
              </ion-button>
              <ion-button fill="clear" (click)="logout()">Salir</ion-button>
            </ng-container>

            <ng-template #loginBtn>
              <ion-button color="primary" routerLink="/login">Inicia Sesión</ion-button>
            </ng-template>
          </ion-buttons>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>