<ion-footer class="custom-footer">
  <ion-grid>
    <ion-row class="ion-align-items-start">
      <ion-col size="12" size-md="3">
        <div class="logo-text">
          <img src="assets/logo_letras.png" alt="AutoCare Market" style="height: 40px; margin-bottom: 8px;" />
        </div>

        <div class="social-icons">
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-linkedin"></ion-icon>
          <ion-icon name="logo-youtube"></ion-icon>
          <ion-icon name="logo-instagram"></ion-icon>
        </div>
      </ion-col>

      <ion-col size="6" size-md="3">
        <strong>TE AYUDAMOS</strong>
        <p>
          Ayuda al cliente<br />
          Política de despacho<br />
          Seguimiento
        </p>
      </ion-col>

      <ion-col size="6" size-md="3">
        <strong>NUESTRA EMPRESA</strong><br />
        Sobre nosotros<br />
        CyberDay<br />
        CyberMonday
      </ion-col>

      <ion-col size="6" size-md="3">
        <strong>USUARIO</strong><br />
        Iniciar Sesión<br />
        Registrarse
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>