<ion-header [translucent]="true">
  <ion-toolbar style="--background: #0A192F; --color: white;">
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-between">
        <ion-col size="12" size-md="2" class="ion-text-start">
          <img src="assets/logo.png" alt="AutoCare Market" style="height: 40px;" />
        </ion-col>
        <ion-col size="12" size-md="10">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding auth-bg">
  <div class="login-container">
    
    <h1 class="title">Bienvenido de vuelta</h1>

    <form [formGroup]="form">

      <app-custom-input 
        icon="mail-outline"
        autocomplete="email"
        [control]="form.controls.email"
        type="email"
        label="Correo"
      ></app-custom-input>
      

      <app-custom-input 
        icon="lock-closed-outline"
        [control]="form.controls.password"
        type="password"
        label="Contraseña"
      ></app-custom-input> 

      <div class="password-options">
        <a href="#">¿Has olvidado tu contraseña?</a>
      </div>

      <ion-button expand="block" class="login-btn">Iniciar sesión</ion-button>

      <div class="divider">
        <span>O inicia sesión con</span>
      </div>

      <div class="social-buttons">
        <ion-button fill="outline" class="social-btn">
          <ion-icon slot="start" name="rocket-outline"></ion-icon>
          Registrar
        </ion-button>

        <ion-button fill="outline" class="social-btn google">
          <ion-icon slot="start" name="logo-google"></ion-icon>
          Google
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
