.label-normal {
  color: white;
  margin-bottom: 4px;
  font-size: 0.9rem;
}

.label-error {
  color: red;
  margin-bottom: 4px;
  font-size: 0.9rem;
}

.custom-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  
}
.custom-input {
  display: flex;
  align-items: center; /* Asegura que los elementos estén alineados verticalmente */
  border-radius: 8px; /* Bordes redondeados */
  background-color: #1e293b; /* Fondo del input */
  padding: 8px; /* Espaciado interno */
}
